<html>
    <head>
        <title>Hini | Success</title>
        <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet" />
        <style>
            html, body {
                margin: 0;
                padding: 0;
                width: 100vw;
                height: 100vh;
                background: #000;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #FFF;
                font-family: 'Do Hyeon', sans-serif;
            }
            h1.success {
                color: green;
            }
        </style>
    </head>
    <body>
        <img
            src="https://res.cloudinary.com/proton/image/upload/v1533861822/H_v8ucrb.png"
            alt="hini logo" />
        <h1 class="success">SUCCESS</h1>
        <h3>User successfully authenticated. Proceed to slack!!!</h3>
    </body>
</html>
